@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playwrite+DE+SAS:wght@100..400&display=swap&#39;');

.titulo{
    color: darkslategray;
    font-size: 5rem;
    font-family: "Lobster", sans-serif;
}

h1:hover{
    cursor: pointer;
}

.active {
    color: red;
    font-size: 7rem;
}